.b1{
    background-color: rgb(81, 151, 81);
    border-radius: 20px;
    width:20%;
    color: cornsilk;
}
.b2{
    background-color: rgb(81, 151, 81);
    border-radius: 20px;
    width:20%;
    color: cornsilk;
}
.b3{
    background-color: rgb(81, 151, 81);
    border-radius: 20px;
    width:20%;
    color: cornsilk;
}
.bb{
    padding-top: 250px;
}
